@import url('https://fonts.googleapis.com/css?family=Kodchasan|Open+Sans|Oswald|Ubuntu');

*{
    box-sizing: border-box;
    margin: 0;
/*    overflow: hidden;*/
}
.hidden {
    display: none;
}
.min + div {
    display: none;
}
.page {
    margin-top: 50px;
    margin-left: 15px;
    font-family: 'Kodchasan', sans-serif;
}
/*////////////////// Banner */
.Banner {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background:cornflowerblue;
    border-bottom: 2px solid rgb(90,90,90);
}
.Banner > h1{
    position: absolute;
    top: 0;
    width: 100%;
    color: white;
    font-family: 'Ubuntu', sans-serif;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    padding: 10px;
    z-index: 0;
}
.Banner > #Navigation {
    color: white;
    font-family: 'Ubuntu', sans-serif;
    position: absolute;
    font-size: 20px;
    background-color:rgba(30,30,30, 0);
    top: 15px;
    z-index: 10;
    border: none;
}
.Banner > #Mail {
    color: white;
    font-family: 'Ubuntu', sans-serif;
    position: absolute;
    font-size: 20px;
    background-color:rgba(30,30,30, 0);
    right: 15px;
    top: 15px;
    z-index: 10;
    border: none;
}


/* Pages */
#educationPage, #objective, #work {
    
    margin: 15px;
    margin-top: 17%;
}

/*///////////////*/
.page .NavList{
    display: block;
    text-align: center;
    /*border: solid 1px black;*/
    border: solid 1px rgba(30,30,30, 1);
    color: black;
    margin-left: -15px;
    background-image: radial-gradient(white, whitesmoke, #eee);
}

.NavList.clicked{
    display: block;
    text-align: center;
    /*border: solid 1px black;*/
    background-image: radial-gradient(whitesmoke, #aaa);
    color: black;
}
/* Contact*/
.Contact > h2,h4,ul {
    margin-left: 15px;
    padding: 15px;
}
.Contact > li {
    padding: 0;
}
/* Project*/
.Project{
    border-bottom: 1px solid rgb(90,90,90);
    margin-left: -15px
}
.Card{
    margin: 5px 5px 5px -10px;
    /*border: solid black 1px;*/
}
.Card > p, li{
    margin: 10px;
}